@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  padding: 0px;
  margin: 0px;
}

.main-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.loader-child {
  flex: 1;
}

._1st-child {
  background-color: #16a085;
  margin-right: 0px;
  animation: loading 2.5s ease-in-out forwards;
}

._2nd-child {
  background-color: #2c3e50;
}

@keyframes loading {
  0% {
    margin-right: 0%;
  }

  10% {
    margin-right: 5%;
  }

  20% {
    margin-right: 10%;
  }

  30% {
    margin-right: 8%;
  }

  40% {
    margin-right: 15%;
  }

  50% {
    margin-right: 12%;
  }

  60% {
    margin-right: 20%;
  }

  70% {
    margin-right: 50%;
  }

  80% {
    margin-right: 75%;
  }

  90% {
    margin-right: 90%;
  }

  100% {
    margin-right: 100%;
    opacity: 0;
    visibility: hidden;
  }
}
